<div mat-dialog-title class="dialog-title">
    Редактиране на данните
</div>
<div mat-dialog-content class="dialog">
    <div class="dialog-content">
        <div class="dialog-content__checkboxes">
            <mat-checkbox [checked]="settings.sellStation.isCheck == 1" class="checkbox">
                <p>{{settings.sellStation.name}}</p>
            </mat-checkbox>
            <mat-checkbox [checked]="settings.noSendTransfer.isCheck == 1" class="checkbox">
                <p>{{settings.noSendTransfer.name}}</p>
            </mat-checkbox>
        </div>
        <div class="dialog-content__main">
            <div class="dialog-content__left">
                <app-input-field [fieldName]="settings.store.name" [value]="settings.store.caption"
                    [isCheck]="settings.store.isCheck"></app-input-field>
                <app-input-field [fieldName]="settings.transfer.name" [value]="settings.transfer.caption"
                    [isCheck]="settings.transfer.isCheck"></app-input-field>
                <app-input-field [fieldName]="settings.hotel.name" [value]="settings.hotel.caption"
                    [isCheck]="settings.hotel.isCheck"></app-input-field>
                <app-input-field [fieldName]="settings.label.name" [value]="settings.label.caption"
                    [isCheck]="settings.label.isCheck"></app-input-field>
                <app-input-field [fieldName]="settings.kitchenMonitor.name" [value]="settings.kitchenMonitor.caption"
                    [isCheck]="settings.kitchenMonitor.isCheck"></app-input-field>
            </div>
            <div class="dialog-content__right">
                <app-input-field [fieldName]="settings.androidLite.name" [value]="settings.androidLite.caption"
                    [isCheck]="settings.androidLite.isCheck"></app-input-field>
                <app-input-field [fieldName]="settings.androidPro.name" [value]="settings.androidPro.caption"
                    [isCheck]="settings.androidPro.isCheck"></app-input-field>
                <app-input-field [fieldName]="settings.accountant.name" [value]="settings.accountant.caption"
                    [isCheck]="settings.accountant.isCheck"></app-input-field>
                <app-input-field [fieldName]="settings.posTerminal.name" [value]="settings.posTerminal.caption"
                    [isCheck]="settings.posTerminal.isCheck"></app-input-field>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions class="dialog-btn">
    <button class="notranslate" mat-raised-button (click)="submittInfo()">

        <i class="material-icons medium" style="color: greenyellow;">done</i>
        Запиши
    </button>
    <button class="notranslate" mat-raised-button (click)="closeDialog()">
        <i class="material-icons medium" style="color: red;">close</i>
        Откажи
    </button>
</div>