.dialog-title {
    background-color: var(--main-background-color);
}

.dialog {
    background-color: var(--main-background-color);
    padding: 1em;
}

.dialog-content {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid blue;
    border-radius: 1em;
}

.dialog-content__left {
    display: flex;
    flex-direction: column;
}

.dialog-content__right {
    display: flex;
    flex-direction: column;
}

.dialog-btn {
    background-color: var(--main-background-color);
    display: flex;
    justify-content: space-around;
    padding: 1em;
}