<div mat-dialog-title class="dialog-title">
    Редактиране на данните
</div>
<div mat-dialog-content class="dialog">
    <div class="dialog-content">
        <div class="dialog-content__left">
            <mat-checkbox class="checkbox">
                <p>Закупена станция</p>
            </mat-checkbox>
            <mat-checkbox class="checkbox">
                <p>Цена за Склад</p>
            </mat-checkbox>
            <mat-form-field appearance="outline">
                <input type="number" matInput>
            </mat-form-field>
            <mat-checkbox class="checkbox">
                <p>Цена за Трансфер</p>
            </mat-checkbox>
            <mat-form-field appearance="outline">
                <input type="number" matInput>
            </mat-form-field>
            <mat-checkbox class="checkbox">
                <p>Цена за Хотел</p>
            </mat-checkbox>
            <mat-form-field appearance="outline">
                <input type="number" matInput>
            </mat-form-field>
            <mat-checkbox class="checkbox">
                <p>Цена за Янак Андроид ЛАЙТ</p>
            </mat-checkbox>
            <mat-form-field appearance="outline">
                <input type="number" matInput>
            </mat-form-field>
            <mat-checkbox class="checkbox">
                <p>Цена за Янак Андроид ПРО</p>
            </mat-checkbox>
            <mat-form-field appearance="outline">
                <input type="number" matInput>
            </mat-form-field>
            <mat-checkbox class="checkbox">
                <p>Цена за Етикет</p>
            </mat-checkbox>
            <mat-form-field appearance="outline">
                <input type="number" matInput>
            </mat-form-field>
            <mat-checkbox class="checkbox">
                <p>Цена за Счетоводство</p>
            </mat-checkbox>
            <mat-form-field appearance="outline">
                <input type="number" matInput>
            </mat-form-field>
            <mat-checkbox class="checkbox">
                <p>Цена за Кухненски терминал</p>
            </mat-checkbox>
            <mat-form-field appearance="outline">
                <input type="number" matInput>
            </mat-form-field>
            <mat-checkbox class="checkbox">
                <p>Цена за Пос терминал</p>
            </mat-checkbox>
            <mat-form-field appearance="outline">
                <input type="number" matInput>
            </mat-form-field>
        </div>
        <div class="dialog-content__right">
        </div>
    </div>
</div>
<div mat-dialog-actions class="dialog-btn">
    <button class="notranslate" mat-raised-button (click)="submittInfo()">

        <i class="material-icons medium" style="color: greenyellow;">done</i>
        Запиши
    </button>
    <button class="notranslate" mat-raised-button (click)="closeDialog()">
        <i class="material-icons medium" style="color: red;">close</i>
        Откажи
    </button>
</div>