<div mat-dialog-title class="dialog-title">
    Редактиране на данните
</div>
<div mat-dialog-content class="dialog">
    <div class="dialog-content">
        <div class="dialog-content__checkboxes">
            <mat-checkbox class="checkbox">
                <p>{{settings.sellStation.name}}</p>
            </mat-checkbox>
            <mat-checkbox class="checkbox">
                <p>{{settings.noSendTransfer.name}}</p>
            </mat-checkbox>
        </div>
        <div class="dialog-content__main">
            <div class="dialog-content__left">
                <app-input-field [fieldName]="settings.store.name" [value]="settings.store.caption"
                    [isCheck]="settings.store.isCheck"></app-input-field>
                <app-input-field [fieldName]="settings.transfer.name"></app-input-field>
                <app-input-field [fieldName]="settings.hotel.name"></app-input-field>
                <app-input-field [fieldName]="settings.label.name"></app-input-field>
                <app-input-field [fieldName]="settings.kitchenMonitor.name"></app-input-field>
            </div>
            <div class="dialog-content__right">
                <app-input-field [fieldName]="settings.androidLite.name"></app-input-field>
                <app-input-field [fieldName]="settings.androidPro.name"></app-input-field>
                <app-input-field [fieldName]="settings.accountant.name"></app-input-field>
                <app-input-field [fieldName]="settings.posTerminal.name"></app-input-field>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions class="dialog-btn">
    <button class="notranslate" mat-raised-button (click)="submittInfo()">

        <i class="material-icons medium" style="color: greenyellow;">done</i>
        Запиши
    </button>
    <button class="notranslate" mat-raised-button (click)="closeDialog()">
        <i class="material-icons medium" style="color: red;">close</i>
        Откажи
    </button>
</div>