.dialog-title {
    /* background-color: var(--main-background-color); */
    text-align: center;
}

.dialog {
    background-color: var(--main-background-color);
    padding: 1em;
    /* min-height: 77%; */
}

.dialog-content {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid blue;
    border-radius: 1em;
    gap: 2em;
}

.dialog-content__checkboxes {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    border-bottom: 1px solid blue;
}

.dialog-content__checkboxes .checkbox {
    margin: 0;
}

.dialog-content__checkboxes .checkbox p {
    font-size: 1.2em;
    font-weight: 500;
}

.dialog-content__main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2em;
    width: 100%;
}

.dialog-content__left {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    flex: 1 1 40%
}

.dialog-content__right {
    display: flex;
    flex-direction: column;
    margin-right: 1em;
    flex: 1 1 40%;
}

.dialog-btn {
    /* background-color: var(--main-background-color); */
    display: flex;
    justify-content: space-around;
    padding: 1em;
}